<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Similar items</title>
</head>
<body>
  
  <div class="row text-center" style="display:flex; flex-wrap:wrap; padding-top: 20px;">
    {% block main %}
      {% for item in main_list_all_items %}
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="{{ item.img_url }}" style="width: 75px; height:auto">
            <div class="caption">
              <p>
                {{ item.name_prod }}
              </p>
              <p>
                {{ item.avail_retail }}
              </p>
            </div>
          
          </div>
              </div>
        {% endfor %}
    {% endblock %}
  </div>

</body>
</html>