<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Similar items</title>
</head>
<body>
  {% block main %}
    <div>
      {% for item in main_list_all_items %}
     <!-- <img src="{{ item.img_url }}" height="250px" width="auto"></img> -->
     <p>
       <p>
         {{ item.name_prod }}
         <p>
           <p>
             {{ item.price_lst }}

             <p>
               <p>

        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>
